		<!-- FOOTER CONTENT -->
		<div class="ui sixteen column grid">
			<div class="dark-overlay"></div>
			<div class="three column centered row">
				<div class="four wide column">
					<div class="copyright">
						<p id="copy-right">
							©2017NATURALACAI
						</p>
					</div>
				</div>
				<div class="seven wide column">
					<p id="footer-logo">
						Natural Acai
					</p>
				</div>
				<div class="four wide column">
					<div class="icon1">
						<a href="https://www.facebook.com" target="_blank"><i class="facebook f icon"></i></a>
					</div>
					<div class="icon2">
						<a href="https://www.instagram.com" target="_blank"><i class="instagram icon"></i></a>
					</div>
					<div class="icon3">
						<a href="https://www.twitter.com" target="_blank"><i class="twitter icon"></i></a>
					</div>
				</div>
			</div>	
		</div>
		<script type="text/javascript" src="/js/home.js"></script>
	</body>
</html>