		
<!-- 	https://images.unsplash.com/photo-1493857671505-72967e2e2760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60	 -->
	
		<div class="footer-image">
			<div class="dark-overlay"></div>
			<div class="ui four column grid">
				<div class="row">
					<div class="column">
						<h3>Opening Hours</h3>
						<div class="ui divider"></div>
					</div>
					<div class="column">
						<h3>Latest Posts</h3>
						<div class="ui divider"></div>
					</div>
					<div class="column">
						<h3>Contact Us</h3>
						<div class="ui divider"></div>
					</div>
					<div class="column">
						<h3>Other Locations</h3>
						<div class="ui divider"></div>
					</div>
				</div>
			</div>
			<!-- OPENING HOURS CONTENT -->	
			<!-- <div class="opening-hours">
				<div class="column">
					<h4>Opening Hours</h4>
					<div class="schedule">
						<div class="row">
							<span class="day">Monday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>7:00 PM</span>
							</span>
						</div>
						<div class="row">
							<span class="day">Tuesday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>7:00 PM</span>
							</span>
						</div>
						<div class="row">
							<span class="day">Wednesday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>7:00 PM</span>
							</span>
						</div>
						<div class="row">
							<span class="day">Thursday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>7:00 PM</span>
							</span>
						</div>
						<div class="row">
							<span class="day">Friday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>7:00 PM</span>
							</span>
						</div>
						<div class="row">
							<span class="day">Saturday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>5:00 PM</span>
							</span>
						</div>
						<div class="row">
							<span class="day">Sunday</span>
							<span class="line"></span>
							<span class="hours">
								<span>9:00 AM</span>
								<span>-</span>
								<span>5:00 PM</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			 -->
			<!-- CONTENT -->
		</div>
			
		<script>
			// Format the sidebar to overlay the page content
			$('.ui.sidebar').sidebar({
				transition: 'overlay'
			});
			
			// Toggle the sidebar 			
			$('#toggle').click(function(){
				$('.ui.sidebar').sidebar('toggle');
			});
			
		</script>
	</body>
</html>