		<!-- FOOTER CONTENT -->
		
		<div class="ui sixteen column grid">
			<div class="dark-overlay"></div>
			<div class="three column centered row">
				<div class="four wide column">
					<div class="copyright">
						<p id="copy-right">
							©2017NATURALACAI
						</p>
					</div>
				</div>
				<div class="seven wide column">
					<p id="footer-logo">
						Natural Acai
					</p>
				</div>
				<div class="four wide column">
					<div class="icon1">
						<a href="https://www.facebook.com" target="_blank"><i class="facebook f icon"></i></a>
					</div>
					<div class="icon2">
						<a href="https://www.instagram.com" target="_blank"><i class="instagram icon"></i></a>
					</div>
					<div class="icon3">
						<a href="https://www.twitter.com" target="_blank"><i class="twitter icon"></i></a>
					</div>
				</div>
			</div>	
		</div>

<!-- 
		<div class="ui grid">
			<div class="dark-overlay"></div>
			<div class="ui stackable five column centered row"> -->
				<!-- Hours -->
<!--  
				<div class="column">
					<h3>Opening Hours</h3>
					<hr class="green-ln">
					<div class="column">
						<p>Monday - Friday</p>
						<p>9:00 AM - 7:00 PM</p>
						<div class="ui divider"></div>
					</div>
					<div class="column">
						<p>Saturday</p>
						<p>9:00 AM - 5:00 PM</p>
						<div class="ui divider"></div>
					</div>
					<div class="column">
						<p>Sunday</p>
						<p>10:00 AM - 5:00 PM</p>
						<div class="ui divider"></div>
					</div>
				</div>
				<!-- Social Media Posts -->
<!--  
				<div class="column">
					<h3>Latest Posts</h3>
					<hr class="green-ln">
				</div>
				<!-- Contact Us -->
<!--  
				<div class="column">
					<h3>Contact Us</h3>
					<hr class="green-ln">
				</div>
				<!-- Locations -->
<!--  
				<div class="column">
					<h3>Other Locations</h3>
					<hr class="green-ln">
				</div>
			</div>
		</div>

			<!-- Latest Posts Content -->
			<!-- <div class="column">
				<h3>Latest Posts</h3>
				<div class="ui divider"></div>
				<div class="ui grid container">
					<div class="eight wide column">
						<a href="https://www.instagram.com" target="_blank" class="ui medium rounded image">
							<img src="https://images.unsplash.com/photo-1533244769204-d345e73a30c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<p>Mornings well spent</p>
						</a>
					</div>
					<div class="eight wide column">
						<a href="https://www.instagram.com" target="_blank" class="ui medium rounded image">
							<img src="https://images.unsplash.com/photo-1520251715762-b726a31d6149?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<p>Mondays are for Aรงai bowls!</p>
						</a>
					</div>
					<div class="eight wide column">
						<a href="https://www.instagram.com" target="_blank" class="ui medium rounded image">
							<img src="https://images.unsplash.com/photo-1550335430-182e6165c01c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<p>New flavors available!</p>
						</a>
					</div>
					<div class="eight wide column">
						<a href="https://www.instagram.com" target="_blank" class="ui medium rounded image">
							<img src="https://images.unsplash.com/photo-1494597564530-871f2b93ac55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
							<p>Everything you need!</p>
						</a>
					</div>
				</div>
			</div>
 -->
			<!-- Contact Us Content -->
			<!-- <div class="column">
				<h3>Contact Us</h3>
				<div class="ui divider"></div>
				<div class="ui grid container">
					<div class="sixteen wide column">
						<i class="envelope outline icon"></i><a class="company-info" href="#">info@naturalacai.com</a>
					</div>
					<div class="sixteen wide column">
						<p><i class="phone icon"></i>(555) 555-555</p>
					</div>
					<div class="sixteen wide column">
						<div>123 EAST DIVISION ST,</div>
						<div>DES MOINES, IA</div>
					</div>
					<div class="sixteen wide column">
						<a class="company-info" href="#">JOBS</a>
					</div>
				</div>
			</div>
 -->
			<!-- Other Locations Content -->
			<!-- <div class="column">
				<h3>Other Locations</h3>
				<div class="ui divider"></div>
				<div class="ui grid container">
					<div class="sixteen wide column">
						<h5>Natural Aรงai</h5>
						<div>446 GRIFFIN LANE</div>
						<div>CHICAGO, IL</div>
					</div>
					<div class="sixteen wide column">
						<h5>Natural Aรงai Cafe</h5>
						<div>532 HIGH POINT AVE</div>
						<div>KANSAS CITY, MO</div>
					</div>
					<div class="sixteen wide column">
						<h5>Natural Aรงai</h5>
						<div>243 SOUTH OLIVE AVE</div>
						<div>MINNEAPOLIS, MN</div>
					</div>
				</div>
			</div>
				</div>
			</div>
		</div> --> 
	
		<script type="text/javascript" src="/js/home.js"></script>
	</body>
</html>