<!DOCTYPE html>
<html>
	<head>
		<title>Natural Acai Co.</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/menu.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a class="header item" href="/" >
					<i class="large leaf icon"></i>
					Natural Açai
				</a>
				<a class="item" href="#">Home</a>
				<div class="ui simple dropdown item">
					Menu <i class="caret down icon"></i>
				</div>
				<div class="ui simple dropdown item">
					Ingredients <i class="caret down icon"></i>
				</div>
				<a class="item" href="#">Contact Us</a>
			</div>
		</div>