<!DOCTYPE html>
<html>
	<head>
		<title>Natural Acai Co.</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/menu.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	</head>
	<body>
		
		<!-- Right hand sidebar -->
		<div class="ui sidebar vertical right menu">
			<div class="sidebar-container">
				<h1>
					Follow Us!
				</h1>
				<h3>
					Keep up to date with us for new flavors and deals to come!
				</h3>
				<div class="ui icon borderless menu">
					<a href="#" class="item">
						<i class="instagram icon"></i>
					</a>
					<a href="#" class="item">
						<i class="facebook icon"></i>
					</a>
					<a href="#" class="item">
						<i class="twitter icon"></i>
					</a>
				</div>
			</div>
		</div>

		<!-- Navbar -->
		<div class="ui inverted fixed menu">
			<div class="ui container">
				<a class="header item" href="/">
					<i class="large leaf icon"></i>
					<p>Natural Aรงai</p>
				</a>
				<a class="item" href="/">Home</a>
				<a class="item" href="/about">About Us</a>
				<div class="ui simple dropdown item">
					Menu <i class="caret down icon"></i>
					<div class="ui secondary vertical pointing menu">
						<a class="item">
							Bowls
						</a>
						<a class="item">
							Smoothies
						</a>
						<a class="item">
							Toast
						</a>
					</div>
				</div>
				<div class="ui simple dropdown item">
					Ingredients <i class="caret down icon"></i>
					<div class="ui secondary vertical pointing menu">
						<a class="item">
							Base
						</a>
						<a class="item">
							Fruits
						</a>
						<a class="item">
							Nuts
						</a>
						<a class="item">
							Honey
						</a>
					</div>
				</div>
				<a id="toggle" class="item">
					<i class="info circle icon"></i>
				</a>
			</div>
		</div>