<!DOCTYPE html>
<html>
	<head>
		<title>Natural Acai Co.</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/menu.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	</head>
	<body>
		
		<!-- Right hand sidebar -->
		<div class="ui sidebar vertical right menu">
			
			<h1>
				Follow Us!
			</h1>
			
			
			<!-- <a href="#" class="item">
				<i class="instagram icon"></i>
			</a> -->
		</div>

		<!-- Navbar -->
		<div class="ui fixed  menu">
			<div class="ui container">
				<a class="header item">
					<i class="large leaf icon"></i>
					Natural Açai
				</a>
				<a class="item" href="/">Home</a>
				<a class="item" href="/about">About Us</a>
				<div class="ui simple dropdown item">
					Menu <i class="caret down icon"></i>
				</div>
				<div class="ui simple dropdown item">
					Ingredients <i class="caret down icon"></i>
				</div>
				<a id="toggle" class="item">
					<i class="info circle icon"></i>
				</a>
			</div>
		</div>