<!DOCTYPE html>
<html>
	<head>
		<title>Natural Acai Co.</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/menu.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<!-- Menu Bar -->
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a class="header item" href="/" >
					<i class="large leaf icon"></i>
					Natural Açai
				</a>
				<a class="item" href="/">Home</a>
				<a class="item" href="/about">About Us</a>
				<div class="ui simple dropdown item">
					Menu <i class="caret down icon"></i>
				</div>
				<div class="ui simple dropdown item">
					Ingredients <i class="caret down icon"></i>
				</div>
				
				
				
			</div>
			<!-- Right hand sidebar -->
				<button class="ui right floated huge inverted icon button">
					<i class="bars icon"></i>
					<div class="ui right demo vertical inverted sidebar labeled icon menu">
						<a class="item">
							<i class="instagram icon"></i>
						</a>
					</div>
				</button>
			
		</div>