<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">

<div class="ui column centered grid">
	<div class="sixteen wide column">
		<div class="headerImg">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="ten wide centered column">
		<h2>Our Story</h2>
		<p class="aboutContent">
			Natural Acai is a healthy cafe best known for our Acai Bowls. Inspired by the Californian and Brazilian health-conscious lifestyles, we decided we should bring these tasty options back to the Midwest to share. From experience, we know that feeding your body healthier options and ingredients will improve your happiness and energy levels. We strive to create an experience around acai; let these options be more than just your routine morning pick-me up. We are truly excited to share this experience with you.
		</p>
		<p id="aboutFrom">
			- N A
		</p>
	</div>
</div>

<% include ./partials/footer %>