<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/contactUs.css">

<div class="ui centered grid">
	<div class="sixteen wide column">
		<div class="headerImg">
			<h1>Contact Us</h1>
		</div>
	</div>
	
	<div class="ten wide column">
		<h2>We'd love to hear from you</h2>
		<h4>
			Whether you have a question about our products, catering or reservation services, job opportunities, or franchise opportunities, our team is ready to answer all of your questions.
		</h4>
	</div>
	
	<div class="ui stackable three column centered row top">
		<div class="twelve wide mobile four wide computer column">
			<p class="location">Ames</p>
			<p class="address">
				2702 Lincoln Way, Ames, IA 50014
			</p>
			<p class="phone">
				Phone: <span>(515) 708-4488</span>
			</p>
			<p class="email">
				Email: <span>contact@naturalacai.com</span>
			</p>
		</div>
		<div class="twelve wide mobile four wide computer column">
			<p class="location">Ankeny</p>
			<p class="address">
				1711 SW Plaza Pkwy, Ankeny, IA 50023
			</p>
			<p class="phone">
				Phone: <span>(515) 608-2827</span>
			</p>
			<p class="email">
				Email: <span>contact@naturalacai.com</span>
			</p>
		</div>
		<div class="twelve wide mobile four wide computer column">
			<p class="location">West Des Moines</p>
			<p class="address">
				117 5th St, West Des Moines, IA 50265
			</p>
			<p class="phone">
				Phone: <span>(515) 608-2816</span>
			</p>
			<p class="email">
				Email: <span>contact@naturalacai.com</span>
			</p>
		</div>
	</div>
	
	<div class="ui stackable three column centered row">
		<div class="twelve wide mobile four wide computer column">
			<p class="location">Des Moines Mobile Cafe</p>
			<p class="phone">
				Phone: <span>(515) 708-4488</span>
			</p>
			<p class="email">
				Email: <span>contact@naturalacai.com</span>
			</p>
		</div>
		<div class="twelve wide mobile four wide computer column">
			<p class="location">Okoboji Mobile Cafe</p>
			<p class="phone">
				Phone: <span>(515) 608-2827</span>
			</p>
			<p class="email">
				Email: <span>contact@naturalacai.com</span>
			</p>
		</div>
	</div>
</div>

<% include ./partials/footer %>