<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/contactUs.css">

<div class="ui centered grid">
	<div class="sixteen wide column">
		<div class="headerImg">
			<h1>Contact Us</h1>
		</div>
	</div>
	
	<div class="eight wide column">
		<h2>We'd love to hear from you</h2>
		<h4>
			Whether you have a question about our products, catering or reservation services, job opportunities, or franchise opportunities, our team is ready to answer all of your questions.
		</h4>
	</div>
</div>

<% include ./partials/footer %>