<% include ./partials/header %>

<!-- Header -->
<div class="ui grid">
	<div class="sixteen wide column">
		<div id="jumbotron">
			<div class="centered-header">
				<p id="header-mantra">
					CREATE. ADMIRE. ENJOY.
				</p>
				<div class="ui divider"></div>
				<p id="header-text">
					Explore the wide variety of flavors that will transform<br> your experience with the healthy culinary scene of<br> the Brazilian culture. These flavorful options will<br> leave you feeling like you've just returned<br> from a tropical trip!
				</p>
			</div>
			<div id="triangle-topleft"></div>
		</div>
	</div>
</div>

<!-- Hidden Header Text -->
<div class="ui column centered grid">
	<div class="twelve wide column">
		<p id="hidden-header-text">
			Explore the wide variety of flavors that will transform your experience with the healthy culinary scene of the Brazilian culture. These flavorful options will leave you feeling like you've just returned from a tropical trip!
		</p>
	</div>
</div>

<!-- <div class="ui column centered grid">
	<div class="column">
		<p id="content-title">
			<em>What Happens Here</em>
			<div class="ui divider"></div>
		</p>
	</div>
</div> -->
 
<div class="ui centered grid">
	<div class="ui stackable three column centered row">
		<div class="twelve wide mobile six wide computer column">
			<p id="create">CREATE</p>
			<p id="create-text">
				Our mission is to help you create healthy, delicious treats in great tasting bowls, smoothies, and toasts.
			</p>
			<div class="ui hidden divider"></div>
			<div class="create-links">
				<a href="#" id="menu-link">Menu<i class="chevron right icon"></i></a>
				<a href="#" id="ingredients-link">Ingredients<i class="chevron right icon"></i></a>
			</div>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<!-- Slideshow of product images -->
			<ul class="slideshow">
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="ui stackable reversed three column centered row">
		<div class="six wide column">
			<!-- Admire Image -->
		</div>
		<div class="six wide column">
			<p id="admire">ADMIRE</p>
			<p id="admire-text">
				Natural Aรงai gets inspiration from the relaxed beachside lifestyle of Brazil. We aim to be a place to inspire our Midwest community to unwind in our coastal inspired interiors.
			</p>
		</div>
	</div>
	<div class="ui stackable three column centered row">
		<div class="six wide column">
			<p id="enjoy">ENJOY</p>
			<p id="enjoy-text">
				We commit to providing you, our customer, a large variety of innovative options primarily using organic, plant-based ingredients.  
			</p>
		</div>
		<div class="six wide column">
		<!-- Enjoy Image --> 
		</div>
	</div>
</div>

<% include ./partials/footer %>