<% include ./partials/header %>

<div class="header-image">
	<div class="centered-header">
		<p>
			WELCOME TO NATURAL AÇAI!
		</p>
	</div>
</div>

<div class="ui items">
	<p class="pick">
		BUILD YOUR FAVORITE
	</p>

	<!-- Smoothie image -->
	<div class="ui circular image" style="background-image: url('https://images.unsplash.com/photo-1553530666-6f3b8750f57b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');"></div>
	
	<!-- Bowl image -->
	<div class="ui circular image" style="background-image:url('https://images.unsplash.com/photo-1533324050617-905a80c167eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');"></div>
	
	<!-- Toast image -->
	<div class="ui circular image" style="background-image:url('https://images.unsplash.com/photo-1553964274-ac6059a35745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=60');"></div>

</div>

<!-- CHANGE LAYOUT FOR PICS AND LABELS -->
<div class="smoothie">
		SMOOTHIE
</div>
<div class="bowl">
		BOWL
</div>
<div class="toast">
		TOAST
</div>



<% include ./partials/footer %>
