<% include ./partials/header %>

<div class="image">
	<div class="centered-left">
		<p>
			WELCOME TO NATURAL AÇAI!
		</p>
	</div>
</div>

<div class="ui items">
	<p class="pick">
		BUILD YOUR FAVORITE
	</p>
	<div class="leafArrows">
		<img src="leafArrows.png">
	</div>
	<div class="item">
		<div class="ui small image">
			<img src="">
		</div>
	</div>
</div>

<% include ./partials/footer %>
