<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/ingredients.css">

<div class="sixteen wide column">
	<div class="headerImg">
		<h1>Ingredients</h1>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Acai</div>
				<div class="meta">Base</div>
				<div class="description">
					<ul>
						<li>Organic/Vegan/Non GMO</li>
						<li>Antioxidant powerhouse</li>	
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Coconut</div>
				<div class="meta">Base</div>
				<div class="description">
					<ul>
						<li>Organic/Vegan/Non GMO</li>
						<li>Traps toxins, prevents absorption into the body</li>	
						<li>Detoxification</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Matcha</div>
				<div class="meta">Base and Booster</div>
				<div class="description">
					<ul>
						<li>Organic/Vegan/Non GMO</li>
						<li>Rich in antioxidants</li>
						<li>Brain Booster, Enhances energy</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Pitaya</div>
				<div class="meta">Base and Booster</div>
				<div class="description">
					<ul>
						<li>Organic/Vegan/Non GMO</li>
						<li>Rich in antioxidants</li>
						<li>Good source of iron</li>
						<li>Packed with fiber, magnesium, b vitamins, and antioxidants</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Warm Rolled Oats</div>
				<div class="meta">Base</div>
				<div class="description">
					<ul>
						<li>Loaded with heart-healthy flax and hemp for a supershot of protein and omega 3’s</li>
						<li>Rich in essential minerals like magnesium, phosphorus, iron and zinc</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Almonds</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Contain high levels of antioxidants, fiber, and iron</li>
						<li>Good source of vitamin C and vitamin A</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui yellow card">
			<div class="content">
				<div class="header">Bananas</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Vitamin C, vitamin B6, Riboflavin, Folate</li>
						<li>Good source of potassium, manganese, magnesium, copper, dietary fiber and protein</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui yellow card">
			<div class="content">
				<div class="header">Bee Pollen</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Packed with vitamins , minerals, carbohydrates, lipids, and protein</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui yellow card">
			<div class="content">
				<div class="header">Blackberries</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Packed with vitamin C and vitamin K</li>
						<li>Good source of fiber, magnesium and calcium</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Blueberries</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Also an antioxidant powerhouse</li>
						<li>Good source of fiber, vitamin C, vitamin K, and manganese</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Cacao Nibs</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Excellent source of essential fatty acids and minerals</li>
						<li>Good source of b-vitamins, vitamin E, and folic acid</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Chia Seeds</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Low on the glycemic index (when used as sweetener)</li>
						<li>Good source of iron, zinc, copper, phosphorus, magnesium, thiamine, and manganese</li>
						<li>Good source of protein, omega-3, and fatty acids</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Coconut Shreds</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Fiber powerhouse</li>
						<li>Good source of iron and zinc</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Dried Dates</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Plant based, sustainable sweetener with a low glycemic index</li>
						<li>Good source of fiber</li>
						<li>High in antioxidant content</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Dried Goji Berries</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Contain key phytonutrients known for their antioxidant and anti-inflammatory properties</li>
						<li>Good source of manganese, vitamin c, fiber, vitamin e, and promotes urinary tract health</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui yellow card">
			<div class="content">
				<div class="header">Assorted Granolas</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Contains both soluble and insoluble fiber which help regulate the digestion of food</li>
						<li>Reduces LDL (bad) cholesterol and boosts energy levels and cognitive functions</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui yellow card">
			<div class="content">
				<div class="header">Hemp Seeds</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Complete plant-based protein (contains all 9 essential amino acids)</li>
						<li>Good source of fiber, omega-3 and omega-6 fatty acids</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui yellow card">
			<div class="content">
				<div class="header">Nut Butters (Almond & Peanut)</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Contains healthy fats which supports high metabolism</li>
						<li>Good source of protein and fiber</li>
						<li>Good source of vitamin E, manganese, magnesium, and antioxidants</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Strawberries</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Packed with vitamin C and vitamin K</li>
						<li>Good source of fibre, folic acid, manganese and potassium</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Seasonal Fruits</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Each Natural Acai location will offer a variety of seasonal toppings, when available</li>
						<li>Common seasonal varieties are: mango, raspberry, pineapple</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide mobile four wide computer column">
		<div class="ui red card">
			<div class="content">
				<div class="header">Agave</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Plant-based, sustainable sweetener</li>
						<li>A great alternative for children, vegans, and those allergic to honey</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui column centered stackable grid">
	<div class="twelve wide mobile four wide computer column">
		<div class="ui violet card">
			<div class="content">
				<div class="header">Raw Honey</div>
				<div class="meta">Topping</div>
				<div class="description">
					<ul>
						<li>Contains a high degree of polyphenols, which act as antioxidants</li>
						<li>Contains a wide variety of nutrients</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>