<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/menu.css">
<div class="ui column centered grid">
	<div class="twelve wide column">
		
	</div>
</div>


<% include ./partials/footer %>