<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/menu.css">

<div class="ui column centered grid">
	<div class="sixteen wide column">
		<div class="headerImg">
			<h1>What To Do Here</h1>
		</div>
	</div>
	<div class="twelve wide column">
		<div class="timeline">
			<div class="container left">
				<div class="content">
					<h3>1. Pick a size for the bowl</h3>
					<p>Choose between a Classic, Power, or Big size bowl</p>
				</div>
			</div>
			<div class="container right">
				<div class="content">
					<h3>2. Choose a base combination</h3>
					<p>We have multiple options such as Acai, Coconut, Matcha, Pitaya, Blue Majik, and Warm Oats</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>3. Choose one free topping to add</h3>
					<p>Find your favorite topping with over ten options to pick from</p>
				</div>
			</div>
			<div class="container right">
				<div class="content">
					<h3>4. Choose additional toppings at an extra cost</h3>
					<p>Pick out additional toppings from our list of a few options you can find below</p>
				</div>
			</div>
		</div>
		<div class="ui centered grid">
			<div class="ui three column centered row">
				<div class="sixteen wide column">
					<div class="menuOneImg"></div>
				</div>
				<div class="sixteen wide column">
					<div class="menuTwoImg"></div>
				</div>
				<div class="sixteen wide column">
					<div class="menuThreeImg"></div>
				</div>
				<div class="sixteen wide column">
					<div class="menuFourImg"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>