<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/menu.css">

<div class="ui centered grid">
	<div class="sixteen wide column">
		<div class="headerImg">
			<h1>Menu</h1>
		</div>
	</div>
	
	<div class="twelve wide column">
		<h2>What to do here</h2>
	</div>
	
	<div class="ui stackable three column centered row thisOne">
		<div class="twelve wide mobile six wide computer column">
			<p id="stepOne">Pick a size for the bowl</h3>
			<p id="stepOneText">Choose between a Classic, Power, or Big size bowl</p>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<div class="stepOneImg"></div>
		</div>
	</div>
	
	<div class="ui stackable three column centered row thisTwo">
		<div class="twelve wide mobile six wide computer column">
			<p id="stepTwo">Choose a base combination</p>
			<p id="stepTwoText">We have multiple options such as Acai, Coconut, Matcha, Pitaya, Blue Majik, and Warm Oats</p>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<div class="stepTwoImg"></div>
		</div>
	</div>
	
	<div class="ui stackable three column centered row thisThree">
		<div class="twelve wide mobile six wide computer column">
			<p id="stepThree">Choose one free topping to add</p>
			<p id="stepThreeText">Find your favorite topping with over ten options to pick from</p>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<div class="stepThreeImg"></div>
		</div>
	</div>
	
	<div class="ui stackable three column centered row thisFour">
		<div class="twelve wide mobile six wide computer column">
			<p id="stepFour">Choose additional toppings at an extra cost</p>
			<p id="stepFourText">Pick out additional toppings from our list of a few options you can find below</p>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<div class="stepFourImg"></div>
		</div>
	</div>
	
	<div class="twelve wide column">
		<h2>Full Menu</h2>
	</div>

	<div class="ui stackable three column centered row menuOneTwo">
		<div class="twelve wide mobile six wide computer column">
			<div class="menuOneImg"></div>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<div class="menuTwoImg"></div>
		</div>
	</div>
	
	<!-- <div class="ui basic modal">
		<div class="image content">
			<div class="menuOneImg"></div>
		</div>
		<div class="actions">
			<div class="large ui inverted cancel centered button">
				Done
			</div>
		</div>
	</div> -->

	<div class="ui stackable three column centered row menuThreeFour">
		<div class="twelve wide mobile six wide computer column">
			<div class="menuThreeImg"></div>
		</div>
		<div class="twelve wide mobile six wide computer column">
			<div class="menuFourImg"></div>
		</div>
	</div>

</div>

<% include ./partials/footer %>