/* HEADER BACKGROUND */
#jumbotron {
	height: 800px;
	width: 100%;
	/* overflow: hidden; */
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1546913657-cf36cdf42ee7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
#triangle-topleft {
	width: 75%;
	height: 800px;
	border-top: 800px solid #B3BF97;
	border-right: 1000px solid transparent;
}

/* HEADER CONTENT */
.centered-header {
	position: absolute;
	top: 35%;
	transform: translate(15%, -50%);
}
.centered-header #header-mantra {
	color: white;
	margin-bottom: -5px;
	font-size: 60px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
.centered-header #header-text {
	color: white;
	font-size: 25px;
	font-weight: 400;
}

#content-title {
	color: #8E7629;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}
#tan-ln {
	border: 1.5px solid #8E7629;
	width: 50vw;
}

/* "CREATE" VIEW */
.ui.grid>.ui.stackable.three.column.centered.row:first-of-type>.column:first-of-type {
	height: 350px;
	padding: 30px;
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1533899114961-3aa0579cd5b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
#create {
	color: white;
	text-align: left;
	font-size: 45px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
.ui.grid>.ui.stackable.three.column.centered.row:first-of-type>.column:first-of-type> a {
	color: white;
	font-size: 23px;
	padding: 0px 20px 0px 0px;
}
#create-text {
	color: white;
	font-size: 20px;
	font-weight: 400;
}
#menu-link {
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
#menu-link:hover {
	color: #B3BF97;
}
#ingredients-link {
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
#ingredients-link:hover {
	color: #B3BF97;
}
.ui.grid>.ui.stackable.three.column.centered.row:first-of-type>.column:nth-of-type(2) {
	height: 325px;
	margin-top: 12.5px;
}
.slideshow { 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 1;
  animation: imageAnimation 21s linear infinite; 
}
.slideshow li:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1494597564530-871f2b93ac55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
}
.slideshow li:nth-child(2) { 
  background-image: url("https://images.unsplash.com/photo-1553530666-6f3b8750f57b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  animation-delay: 7s; 
}
.slideshow li:nth-child(3) { 
  background-image: url("https://images.unsplash.com/photo-1508014379179-33760e69b92c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  animation-delay: 14s;
}
@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: linear;
	}
	10% {
		opacity: 1;
		animation-timing-function: linear;
	}
	35% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.no-cssanimations .slideshow li {
	opacity: 1;
}

/* "ADMIRE" VIEW */
.ui.grid>.ui.stackable.three.column.centered.row:nth-of-type(2)>.column:first-of-type {
	margin-top: 12.5px;
	height: 325px;
  	background-size: cover;
  	background-position: 50% 50%;
 	background-repeat: no-repeat;
	background-image: url("https://images.unsplash.com/photo-1550335430-182e6165c01c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.ui.grid>.ui.stackable.three.column.row:nth-of-type(2)>.column:nth-of-type(2) {
	height: 350px;
	padding: 30px;
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1545100760-db63cbae42b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
#admire {
	color: white;
	text-align: left;
	font-size: 45px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
#admire-text {
	color: white;
	font-size: 20px;
	font-weight: 400;
}

/* "ENJOY" VIEW */
.ui.grid>.ui.stackable.three.column.centered.row:nth-of-type(3)>.column:first-of-type {
	height: 350px;
	padding: 30px;
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1548449807-8321fbace1b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
#enjoy {
	color: white;
	text-align: left;
	font-size: 45px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
#enjoy-text {
	color: white;
	font-size: 20px;
	font-weight: 400;
}
.ui.grid>.ui.stackable.three.column.centered.row:nth-of-type(3)>.column:nth-of-type(2) {
	margin-top: 12.5px;
	height: 325px;
  	background-size: cover;
  	background-position: 50% 50%;
 	background-repeat: no-repeat;
	background-image: url("https://images.unsplash.com/photo-1527781670175-10a24327e5d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

/* FOOTER BACKGROUND */
.ui.grid:nth-of-type(4) {
	height: 475px;
	bottom: 0;
	margin-top: 50px;
	position: relative;
	z-index: -10;
	background-size: cover;
	/* background-position: 50% 75%; */
	background-image: url("https://images.unsplash.com/photo-1493857671505-72967e2e2760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.dark-overlay {
	position: absolute;
	background-color: rgba(0,0,0, 0.80);
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}
h3 {
	color: white;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
}
.ui.grid:nth-of-type(4)>.ui.stackable.five.column.centered.row>.column:first-of-type>.column> p {
	color: white;
	margin-top: 15px;
	font-size: 19px;
	font-weight: 300;
	font-family: "Oswald", sans-serif;
}
.green-ln {
	border: 1.5px solid #B3BF97;
}

/* NAVBAR AND SIDEBAR STYLES */
nav {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: black;
	z-index: 20;
}
.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 50px;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}
.nav-links li {
	list-style: none;
}
.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
	z-index: 20;
}
.nav-links a:hover {
	color: #B3BF97;
	text-decoration: underline;
}
.mobile-menu {
	display: none;
	cursor: pointer;
}
.mobile-menu div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
}
@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		font-size: 25px;
		right: 0px;
		height: 115.3vh;
		top: 8vh;
		color: rgb(226, 226, 226);
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 20;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.nav-links li {
		opacity: 0;
		z-index: 20;
	}
	.nav-links a {
		font-size: 20px;
	}
	.mobile-menu {
		display: block;
	}
}
.nav-active {
	transform: translateX(0%);
	z-index: 20;
	margin-top: 0px;
	margin-bottom: 0px;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}