.ui.menu {
	font-size: 1.1rem;
}

.ui.menu .header.item {
	font-size: 22px;
}

/* .ui.icon.borderless.menu.item {
	
} */

.header-image {
	margin-top: 74px;
	top: 0px;
	left: 0px;
	display: flex;
    height: 775px;
	background-size: cover;
	background-image: url("https://images.unsplash.com/photo-1546913657-cf36cdf42ee7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.sidebar-container {
	text-align: center;
	margin: 50px;
}

.centered-header {
	color: white;
	font-size: 75px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	position: absolute;
	top: 35%;
	text-transform: uppercase;
	transform: translate(50%, -300%);
}

.pick {
	color: #446846;
	font-size: 50px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-align: center;
	margin-bottom: 100px;
	padding-top: 80px;
}

.ui.circular.image {
	position: relative;
	float: left;
	width: 400px;
	height: 400px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px 80px 60px 80px;
}

.smoothie {
	display: inline;
	color: #561A7B;
	font-size: 40px;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	margin: 0px 200px 50px 195px;
}
.bowl {
	display: inline;
	color: #561A7B;
	font-size: 40px;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	margin: 0px 200px 50px 230px;
}
.toast {
	display: inline;
	color: #561A7B;
	font-size: 40px;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	margin: 0px 200px 50px 265px;
}

.ui.visible.right.overlay.sidebar {
	color: white;
	width: 350px;
	background-color: #B3BF97;
}
