html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.ui.grid>.sixteen.wide.column {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.headerImg {
	margin-top: 8vh;
	height: 350px;
	width: 100%;
	background-size: cover;
	position: relative;
	background-position: center bottom;
	background-image: url("https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
h1 {
	color: white;
	padding-top: 250px;
	padding-left: 12vw;
	font-size: 50px;
	letter-spacing: 2px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
h2 {
	color: black;
	padding-top: 50px;
	font-size: 35px;
	text-align: center;
	letter-spacing: 2px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}

/* First Step */
.thisOne>.column:first-of-type, .thisTwo>.column:first-of-type, .thisThree>.column:first-of-type, .thisFour>.column:first-of-type {
	height: 300px;
	padding: 30px;
}
.thisOne>.column:nth-of-type(2), .thisTwo>.column:nth-of-type(2), .thisThree>.column:nth-of-type(2), .thisFour>.column:nth-of-type(2) {
	height: 300px;
	padding: 30px;
}

.stepOneImg, .stepTwoImg, .stepThreeImg, .stepFourImg {
	margin-top: 25px;
	height: 100%;
	border-radius: 15px;
  	background-size: cover;
  	background-position: 50% 50%;
 	background-repeat: no-repeat;
}
.stepOneImg {
	background-image: url("https://images.unsplash.com/photo-1457347876270-97799484c564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.stepTwoImg {
	background-image: url("https://images.unsplash.com/photo-1533244769204-d345e73a30c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.stepThreeImg {
	background-image: url("https://images.unsplash.com/photo-1490474418585-ba9bad8fd0ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.stepFourImg {
	background-image: url("https://images.unsplash.com/photo-1467453678174-768ec283a940?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

#stepOne, #stepTwo, #stepThree, #stepFour {
	margin-top: 100px;
	text-align: left;
	font-size: 25px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}
#stepOneText, #stepTwoText, #stepThreeText, #stepFourText {
	font-size: 20px;
	font-weight: 500;
}

.menuOneTwo>.column:first-of-type, .menuThreeFour>.column:first-of-type {
	height: 450px;
	width: 300px;
	padding: 30px;
}
.menuOneTwo>.column:nth-of-type(2), .menuThreeFour>.column:nth-of-type(2) {
	height: 450px;
	width: 300px;
	padding: 30px;
}

.menuOneImg {
	height: 100%;
	width: 100%;
	background-size: contain;
	position: relative;
	background-repeat: no-repeat;
	background-image: url("../images/acaiMenuOne.jpg");
}
.menuTwoImg {
	height: 100%;
	width: 100%;
	background-size: contain;
	position: relative;
	background-repeat: no-repeat;
	background-image: url("../images/acaiMenuTwo.jpg");
}
.menuThreeImg {
	height: 100%;
	border-radius: 15px;
	background-size: contain;
	position: relative;
	background-repeat: no-repeat;
	background-image: url("../images/acaiMenuThree.jpg");
}
.menuFourImg {
	height: 100%;
	border-radius: 15px;
	background-size: contain;
	position: relative;
	background-repeat: no-repeat;
	background-image: url("../images/acaiMenuFour.jpg");
}
@media screen and (max-width: 1160px) {
	h1 {
		font-size: 40px;
	}
}
@media screen and (max-width: 991px) {
	/* Change footer margin-top */	
	.ui.sixteen.column.grid {
		margin-top: 14px;
	}
}
@media screen and (max-width: 795px) {
	#stepOne, #stepTwo, #stepThree, #stepFour {
		text-align: center;
		margin-left: 25px;
		margin-right: 25px;
	}
	#stepOneText, #stepTwoText, #stepThreeText, #stepFourText {
		text-align: center;
		margin-left: 25px;
		margin-right: 25px;
	}
}
@media screen and (max-width: 768px) {
	.headerImg {
		background-position: right bottom;
	}
	.stepOneImg, .stepTwoImg, .stepThreeImg, .stepFourImg {
		border-radius: 0px;
	}
}
@media screen and (min-width: 768px) {
	.headerImg {
		background-attachment: fixed;
	}
}